Repository OpenDataNTNU/OpenData, pull requests merged in 2020-04, with the labels that each got.

#220 Story/21: MetadataType description suggestions
  backend/Controllers/MetadataCategoryController.cs
  backend/Controllers/MetadataTypeController.cs
  backend/Domain/Models/MetadataType.cs
  backend/Domain/Models/MetadataTypeDescription.cs
  backend/Domain/Models/MetadataTypeDescriptionVote.cs
  backend/Domain/Repositories/IMetadataTypeRepository.cs
  backend/Domain/Services/IMetadataTypeService.cs
  backend/Mapping/ModelToResourceProfile.cs
  backend/Persistence/Contexts/AppDbContext.cs
  backend/Persistence/Repositories/MetadataCategoryRepository.cs
  backend/Persistence/Repositories/MetadataTypeRepository.cs
  backend/Resources/MetadataCategoryResource.cs
  backend/Resources/MetadataTypeDescriptionResource.cs
  backend/Resources/MetadataTypeResource.cs
  backend/Resources/NewMetadataDescriptionResource.cs
  backend/Resources/SaveMetadataTypeResource.cs
  backend/Services/MetadataTypeService.cs
  frontend/__tests__/Pages/EditDescriptionMetadataType/EditDescriptionMetadataType.test.jsx
  frontend/__tests__/Pages/Inspection/Inspection.test.jsx
  frontend/__tests__/Pages/MetadataByMunicipality/MunicipalityMetadataResults.test.jsx
  frontend/__tests__/Pages/MetadataByType/MetadataByType.test.jsx
  frontend/__tests__/sharedComponents/SingleMetadataResultCollapsed.test.jsx
  frontend/__tests__/sharedComponents/SingleMetadataResultExpanded.test.jsx
  frontend/src/pages/EditDescriptionMetadataType/DescriptionEditBody.jsx
  frontend/src/pages/EditDescriptionMetadataType/DescriptionEditButton.jsx
  frontend/src/pages/EditDescriptionMetadataType/SingleDescription.jsx
  frontend/src/pages/EditDescriptionMetadataType/index.jsx
  frontend/src/pages/Inspection/Comment.jsx
  frontend/src/pages/Inspection/Comments.jsx
  frontend/src/pages/Inspection/InspectionBody.jsx
  frontend/src/pages/Inspection/MetaData.jsx
  frontend/src/pages/Inspection/NewComment.jsx
  frontend/src/pages/MetadataByMunicipality/MunicipalityMetadataResults.jsx
  frontend/src/pages/MetadataByMunicipality/NoResult.jsx
  frontend/src/pages/MetadataByMunicipality/index.jsx
  frontend/src/pages/MetadataByType/MetadataByTypeBody.jsx
  frontend/src/pages/MetadataByType/MetadataByTypeResults.jsx
  frontend/src/pages/MetadataByType/index.jsx
  frontend/src/router/router.jsx
  frontend/src/sharedComponents/Metadata/ContentComps.jsx
  frontend/src/sharedComponents/Metadata/SingleMetaDataResult.jsx
Labels: backend, frontend, user-story-21

#238 Removed token timeout
  backend/Persistence/Repositories/UserRepository.cs
Labels: QoL, backend

#233 Add a basic form for creating new categories
  frontend/src/pages/NewCategory/index.jsx
  frontend/src/pages/NewMetadataType/NewMetadataTypeBody.jsx
  frontend/src/pages/NewMetadataType/RootLevelCategorySelector.jsx
  frontend/src/router/router.jsx
Labels: frontend

#239 Fix/submit metadata form
  frontend/src/pages/SendMetadata/DataSourceForm.jsx
  frontend/src/pages/SendMetadata/MetadataForm.jsx
  frontend/src/pages/SendMetadata/ReleaseStateRadios.jsx
Labels: frontend

#235 Fix/experience post creation
  backend/Controllers/MetadataController.cs
Labels: backend
