Repository OpenDataNTNU/OpenData, pull requests merged in 2020-03, with the labels that each got.

#131 Feature/mark interest frontend
  frontend/__tests__/Pages/Inspection/Inspection.test.jsx
  frontend/__tests__/Pages/MetadataByMunicipality/MunicipalityMetadataResults.test.jsx
  frontend/src/assets/ui/chat.svg
  frontend/src/assets/ui/chat_hollow.svg
  frontend/src/assets/ui/chat_true.svg
  frontend/src/assets/ui/external_link.svg
  frontend/src/assets/ui/negative.svg
  frontend/src/assets/ui/positive.svg
  frontend/src/assets/ui/star.svg
  frontend/src/pages/Inspection/InspectionBody.jsx
  frontend/src/pages/Inspection/MetaData.jsx
  frontend/src/pages/Inspection/MetadataToolbar.jsx
  frontend/src/pages/MetadataByMunicipality/FeedbackLabel.jsx
  frontend/src/pages/MetadataByMunicipality/SingleMetaDataResult.jsx
Labels: frontend, user-story-17

#138 Feature/comment system backend
  backend/Controllers/CommentController.cs
  backend/Controllers/ExperiencePostController.cs
  backend/Controllers/MetadataController.cs
  backend/Domain/Models/Comment.cs
  backend/Domain/Models/ExperiencePost.cs
  backend/Domain/Models/ExperiencePostCommentMapping.cs
  backend/Domain/Models/ExperiencePostTagMapping.cs
  backend/Domain/Models/Metadata.cs
  backend/Domain/Models/MetadataCommentMapping.cs
  backend/Domain/Repositories/ICommentRepository.cs
  backend/Domain/Repositories/IMetadataRepository.cs
  backend/Domain/Repositories/IMunicipalityRepository.cs
  backend/Domain/Services/ICommentService.cs
  backend/Domain/Services/IMetadataService.cs
  backend/Mapping/ModelToResourceProfile.cs
  backend/Persistence/Contexts/AppDbContext.cs
  backend/Persistence/Repositories/CommentRepository.cs
  backend/Resources/CommentResource.cs
  backend/Resources/NewCommentResource.cs
  backend/Services/CommentService.cs
  backend/Startup.cs
Labels: backend

#145 Added a HasChildren attribute to indicate whether a comment has one or more children
  backend/Controllers/CommentController.cs
  backend/Domain/Models/Comment.cs
  backend/Persistence/Contexts/AppDbContext.cs
  backend/Persistence/Repositories/CommentRepository.cs
  backend/Resources/CommentResource.cs
Labels: backend

#146 Story 14 - Comments feature for experience articles
  frontend/.eslintrc.json
  frontend/__tests__/sharedComponents/CommentSection.test.jsx
  frontend/src/pages/Article/index.jsx
  frontend/src/sharedComponents/Comment.jsx
  frontend/src/sharedComponents/CommentSection.jsx
  frontend/src/sharedComponents/CommentThread.jsx
  frontend/src/sharedComponents/NewComment.jsx
  frontend/src/sharedComponents/utilities/DateToString.js
  frontend/src/sharedComponents/utilities/index.js
Labels: user-story-14

#142 Story 15 - Fixed support for unreleased datasets
  backend/Controllers/MetadataController.cs
  backend/Persistence/Contexts/AppDbContext.cs
  backend/Resources/SaveMetadataResource.cs
  frontend/src/pages/SendMetadata/MetadataForm.jsx
Labels: user-story-15

#151 Story/17
  backend/Controllers/MetadataController.cs
  backend/Domain/Models/Like.cs
  backend/Domain/Models/LikeReport.cs
  backend/Domain/Models/Metadata.cs
  backend/Domain/Repositories/ILikeRepository.cs
  backend/Domain/Services/Communication/SaveLikeResponse.cs
  backend/Domain/Services/ILikeService.cs
  backend/Persistence/Contexts/AppDbContext.cs
  backend/Persistence/Repositories/LikeRepository.cs
  backend/Resources/LikeResource.cs
  backend/Services/LikeService.cs
  backend/Startup.cs
  frontend/__tests__/Pages/Inspection/Inspection.test.jsx
  frontend/__tests__/Pages/MetadataByMunicipality/MunicipalityMetadataResults.test.jsx
  frontend/src/assets/ui/chat.svg
  frontend/src/assets/ui/chat_hollow.svg
  frontend/src/assets/ui/chat_true.svg
  frontend/src/assets/ui/external_link.svg
  frontend/src/assets/ui/negative.svg
  frontend/src/assets/ui/positive.svg
  frontend/src/assets/ui/star.svg
  frontend/src/pages/Inspection/InspectionBody.jsx
  frontend/src/pages/Inspection/MetaData.jsx
  frontend/src/pages/Inspection/MetadataToolbar.jsx
  frontend/src/pages/MetadataByMunicipality/SingleMetaDataResult.jsx
  frontend/src/sharedComponents/Metadata/FeedbackLabel.jsx
  frontend/src/sharedComponents/Metadata/MetadataURL.jsx
  frontend/src/sharedComponents/Metadata/ReleaseStateLabel.jsx
Labels: user-story-17

#177 Search results show root level comments count. Also moved to shared components.
  frontend/__tests__/Pages/MetadataByMunicipality/MunicipalityMetadataResults.test.jsx
  frontend/src/pages/MetadataByMunicipality/MunicipalityMetadataResults.jsx
  frontend/src/pages/MetadataByMunicipality/SingleMetaDataResult.jsx
  frontend/src/pages/MetadataByType/MetadataByTypeResults.jsx
  frontend/src/sharedComponents/Metadata/SingleMetaDataResult.jsx
Labels: frontend, user-story-12

#149 Feature/add metadata type search options
  backend/Controllers/MetadataTypeController.cs
  backend/Domain/Repositories/IMetadataTypeRepository.cs
  backend/Domain/Services/IMetadataTypeService.cs
  backend/Persistence/Repositories/MetadataTypeRepository.cs
  backend/Resources/MetadataTypeSearchParametersResource.cs
  backend/Services/MetadataTypeService.cs
Labels: backend, user-story-10, user-story-9

#189 Feature/multiple experience articles
  frontend/src/pages/Inspection/FeedbackLink.jsx
  frontend/src/pages/Inspection/MetaData.jsx
  frontend/src/pages/Inspection/MetadataToolbar.jsx
  frontend/src/pages/NewExperienceArticle/Form.jsx
Labels: frontend, user-story-23

#158 Add missing swagger comments
  backend/Controllers/CommentController.cs
  backend/Controllers/ExperiencePostController.cs
  backend/Controllers/MetadataController.cs
  backend/Controllers/MetadataTypeController.cs
  backend/Controllers/MunicipalityController.cs
  backend/Controllers/TagController.cs
Labels: backend, documentation

#186 Collapsible SingleMetadataResult, w/ tests
  frontend/__tests__/Pages/MetadataByMunicipality/MunicipalityMetadataResults.test.jsx
  frontend/__tests__/sharedComponents/SingleMetadataResultCollapsed.jsx
  frontend/__tests__/sharedComponents/SingleMetadataResultExpanded.jsx
  frontend/src/sharedComponents/Metadata/ContentComps.jsx
  frontend/src/sharedComponents/Metadata/FeedbackLabel.jsx
  frontend/src/sharedComponents/Metadata/ReleaseStateLabel.jsx
  frontend/src/sharedComponents/Metadata/SingleMetaDataResult.jsx
Labels: QoL, frontend

#198 Header links highlight current location
  frontend/src/sharedComponents/Header.jsx
  frontend/src/sharedComponents/HeaderLink.jsx
Labels: QoL, frontend

#202 First iteration of the revised "My data" page.
  frontend/src/pages/MyData/MyDataBody.jsx
  frontend/src/pages/MyData/MyDataCrossRef.jsx
  frontend/src/pages/MyData/MyDataCrossRefType.jsx
  frontend/src/pages/MyData/MyDataDataset.jsx
  frontend/src/pages/MyData/MyDataStarred.jsx
  frontend/src/pages/MyData/MyDataSubmitted.jsx
  frontend/src/pages/MyData/index.jsx
  frontend/src/sharedComponents/Metadata/ContentComps.jsx
Labels: QoL, frontend

#192 Feature/multiple urls for metadata frontend
  backend/Controllers/MetadataController.cs
  frontend/__tests__/Pages/Inspection/Inspection.test.jsx
  frontend/__tests__/Pages/MetadataByMunicipality/MunicipalityMetadataResults.test.jsx
  frontend/src/pages/Inspection/AddSource.jsx
  frontend/src/pages/Inspection/InspectionBody.jsx
  frontend/src/pages/Inspection/MetaData.jsx
  frontend/src/pages/NewMetadataType/NewMetadataTypeBody.jsx
  frontend/src/pages/SendMetadata/MetadataForm.jsx
  frontend/src/sharedComponents/Metadata/SingleMetaDataResult.jsx
Labels: frontend, user-story-20

#191 Story/20
  backend/Controllers/MetadataController.cs
  backend/Domain/Models/DataSource.cs
  backend/Domain/Models/Metadata.cs
  backend/Domain/Repositories/IMetadataRepository.cs
  backend/Domain/Services/IMetadataService.cs
  backend/Mapping/ModelToResourceProfile.cs
  backend/Persistence/Contexts/AppDbContext.cs
  backend/Persistence/Repositories/MetadataRepository.cs
  backend/Persistence/Repositories/MetadataTypeRepository.cs
  backend/Properties/launchSettings.json
  backend/Resources/DataSourceResource.cs
  backend/Resources/DeleteDataSourceResource.cs
  backend/Resources/MetadataResource.cs
  backend/Resources/NewDataSourceResource.cs
  backend/Resources/SaveMetadataResource.cs
  backend/Services/MetadataService.cs
  frontend/__tests__/Pages/Inspection/Inspection.test.jsx
  frontend/__tests__/Pages/MetadataByMunicipality/MunicipalityMetadataResults.test.jsx
  frontend/src/pages/Inspection/AddSource.jsx
  frontend/src/pages/Inspection/InspectionBody.jsx
  frontend/src/pages/Inspection/MetaData.jsx
  frontend/src/pages/NewMetadataType/NewMetadataTypeBody.jsx
  frontend/src/pages/SendMetadata/MetadataForm.jsx
  frontend/src/sharedComponents/Metadata/SingleMetaDataResult.jsx
Labels: backend, frontend, user-story-20
