Repository OpenDataNTNU/OpenData, pull requests merged in 2020-02, with the labels that each got.

#36 Mockups
  frontend/mockups/ErrorBoundary.html
  frontend/mockups/Inspection.html
  frontend/mockups/Login.html
  frontend/mockups/MainView.html
  frontend/mockups/Signup.html
  frontend/mockups/SubmitData.html
  frontend/mockups/mainMockup.css
  frontend/mockups/res/chat.svg
  frontend/mockups/res/star.svg
Labels: frontend

#85 User Story 7: Municipalities view
  frontend/__tests__/Pages/MetadataByMunicipality/MetadataByMunicipality.test.jsx
  frontend/__tests__/Pages/MetadataByMunicipality/MunicipalityMetadataResults.test.jsx
  frontend/__tests__/sharedComponents/Template.test.jsx
  frontend/public/index.html
  frontend/src/assets/ui/chat.svg
  frontend/src/assets/ui/star.svg
  frontend/src/pages/MetadataByMunicipality/MunicipalityMetadataResults.jsx
  frontend/src/pages/MetadataByMunicipality/NoResult.jsx
  frontend/src/pages/MetadataByMunicipality/SingleMetaDataResult.jsx
  frontend/src/pages/MetadataByMunicipality/index.jsx
  frontend/src/router/router.jsx
  frontend/src/sharedComponents/ReleaseStateLabel.jsx
  frontend/src/sharedComponents/SubHeader.jsx
  frontend/src/sharedComponents/Template.jsx
Labels: user-story-7

#86 fetch metadata from single municipality
  backend/Controllers/MunicipalityController.cs
  backend/Domain/Repositories/IMunicipalityRepository.cs
  backend/Domain/Services/IMunicipalityService.cs
  backend/Persistence/Repositories/MunicipalityRepository.cs
  backend/Services/MunicipalityService.cs
Labels: backend, user-story-1

#66 User story 8
  Documentation/troubleshooting_the_backend.md
  backend/Controllers/ExperiencePostController.cs
  backend/Controllers/MetadataController.cs
  backend/Domain/Models/ExperiencePost.cs
  backend/Domain/Models/ExperiencePostTagMapping.cs
  backend/Domain/Models/Metadata.cs
  backend/Domain/Repositories/IExperiencePostRepository.cs
  backend/Domain/Services/Communication/SaveExperiencePostResponse.cs
  backend/Domain/Services/IExperiencePostService.cs
  backend/Mapping/ModelToResourceProfile.cs
  backend/Persistence/Contexts/AppDbContext.cs
  backend/Persistence/Repositories/ExperiencePostRepository.cs
  backend/Resources/ExperiencePostResource.cs
  backend/Resources/ExperiencePostTagMappingResource.cs
  backend/Resources/MetadataResource.cs
  backend/Resources/SaveExperiencePostResource.cs
  backend/Services/ExperiencePostService.cs
  backend/Startup.cs
  frontend/.eslintrc.json
  frontend/__tests__/Pages/NewExperienceArticle/NewExperienceArticle.test.jsx
  frontend/__tests__/hooks/GetMetadata.test.jsx
  frontend/__tests__/hooks/GetMetadatas.test.jsx
  frontend/jest.config.js
  frontend/package.json
  frontend/src/pages/NewExperienceArticle/Form.jsx
  frontend/src/pages/NewExperienceArticle/index.jsx
  frontend/src/router/router.jsx
  frontend/src/sharedComponents/Input.jsx
  frontend/src/sharedComponents/LoadingButton.jsx
  frontend/src/sharedComponents/hooks/GetMetadata.jsx
  frontend/src/sharedComponents/hooks/GetMetadatas.jsx
  frontend/src/sharedComponents/hooks/index.jsx
  frontend/webpack.dev.config.js
  frontend/webpack.prod.config.js
  frontend/yarn.lock
Labels: user-story-8

#96 Feature/municipalities view filtering
  frontend/src/pages/MetadataByMunicipality/MunicipalityMetadataResults.jsx
  frontend/src/pages/MetadataByMunicipality/index.jsx
Labels: QoL, frontend

#109 Patch 2-02: Re-added mockups because they are missing in master.
  frontend/mockups/ErrorBoundary.html
  frontend/mockups/Inspection.html
  frontend/mockups/Login.html
  frontend/mockups/MainView.html
  frontend/mockups/Signup.html
  frontend/mockups/SubmitData.html
  frontend/mockups/mainMockup.css
Labels: frontend
